node_modules
**/node_modules
**/.pnpm-store
packages/database/node_modules
packages/database/.pnpm-store
**/dist
.git
.env
.env.*
!.env.example
**/.env
**/.env.*
!**/.env.example
*.md
!packages/**/README.md
.turbo
coverage
*.log
.DS_Store
